.ui.small.image {
    height:100px;
    width: 450px;
    background: url("../images/logo.png");
    background-size: 420px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
}
